In [1]:
import pandas as pd
import numpy as np
import props as p
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df_15 = pd.read_csv('../../clean_data/player_weekly_performance_2015.csv')
df_16 = pd.read_csv('../../clean_data/player_weekly_performance_2016.csv')
df_17 = pd.read_csv('../../clean_data/player_weekly_performance_2017.csv')
df_18 = pd.read_csv('../../clean_data/player_weekly_performance_2018.csv')

In [3]:
df_15.name = '2015 Weekly Data'
df_16.name = '2016 Weekly Data'
df_17.name = '2017 Weekly Data'
df_18.name = '2018 Weekly Data'

In [4]:
df_list = [df_15, df_16, df_17, df_18]

In [5]:
p.print_props(df_list, '.head()')

	First 5 rows of DataFrame: 2015 Weekly Data
----------------------------------------
   Rank  PlayerID            Name Team Position  Week Opponent  PassingYards  \
0     1     16668     Carlos Hyde   SF       RB     1      MIN             0
1     2      4314       Tom Brady   NE       QB     1      PIT           288
2     3     10974  Rob Gronkowski   NE       TE     1      PIT             0
3     4     13291     Julio Jones  ATL       WR     1      PHI             0
4     5      2428   Carson Palmer  ARI       QB     1       NO           307

   PassingTouchdowns  PassingInterceptions  RushingYards  RushingTouchdowns  \
0                  0                     0           168                  2
1                  4                     0             1                  0
2                  0                     0             0                  0
3                  0                     0             0                  0
4                  3                     0            14                  0

   Receptions  ReceivingYards  ReceivingTouchdowns  FumblesLost  \
0           2              14                    0            0
1           0               0                    0            0
2           5              94                    3            0
3           9             141                    2            0
4           0               0                    0            0

   FantasyPointsPerGame  FantasyPoints        Date
0                  30.2          30.20  2015-09-13
1                  27.6          27.62  2015-09-13
2                  27.4          27.40  2015-09-13
3                  26.1          26.10  2015-09-13
4                  25.7          25.68  2015-09-13

	First 5 rows of DataFrame: 2016 Weekly Data
----------------------------------------
   Rank  PlayerID               Name Team Position  Week Opponent  \
0     1     14008        Andrew Luck  IND       QB     1      DET
1     2      7242         Drew Brees   NO       QB     1      OAK
2     3      7580  DeAngelo Williams  PIT       RB     1      WAS
3     4      6739         Alex Smith   KC       QB     1      LAC
4     5     16568      Brandin Cooks   NO       WR     1      OAK

   PassingYards  PassingTouchdowns  PassingInterceptions  RushingYards  \
0           385                  4                     0            21
1           423                  4                     0             5
2             0                  0                     0           143
3           363                  2                     1            15
4             0                  0                     0            11

   RushingTouchdowns  Receptions  ReceivingYards  ReceivingTouchdowns  \
0                  0           0               0                    0
1                  0           0               0                    0
2                  2           6              28                    0
3                  1           0               0                    0
4                  0           6             143                    2

   FumblesLost  FantasyPointsPerGame  FantasyPoints        Date
0            0                  35.5          35.50  2016-09-11
1            1                  31.4          31.42  2016-09-11
2            0                  29.1          29.10  2016-09-11
3            0                  28.0          28.02  2016-09-11
4            0                  27.4          27.40  2016-09-11

	First 5 rows of DataFrame: 2017 Weekly Data
----------------------------------------
   Rank  PlayerID              Name Team Position  Week Opponent  \
0     1     18944       Kareem Hunt   KC       RB     1       NE
1     2      6739        Alex Smith   KC       QB     1       NE
2     3      9038  Matthew Stafford  DET       QB     1      ARI
3     4     11527      Sam Bradford  MIN       QB     1       NO
4     5     17009    Trevor Siemian  DEN       QB     1      LAC

   PassingYards  PassingTouchdowns  PassingInterceptions  RushingYards  \
0             0                  0                     0           148
1           368                  4                     0             3
2           292                  4                     1            14
3           346                  3                     0            -3
4           219                  2                     1            19

   RushingTouchdowns  Receptions  ReceivingYards  ReceivingTouchdowns  \
0                  1           5              98                    2
1                  0           0               0                    0
2                  0           0               0                    0
3                  0           0               0                    0
4                  1           0               0                    0

   FumblesLost  FantasyPointsPerGame  FantasyPoints        Date
0            1                  40.6          40.60  2017-09-10
1            0                  31.0          31.02  2017-09-10
2            0                  27.1          27.08  2017-09-10
3            0                  25.5          25.54  2017-09-10
4            0                  22.7          22.66  2017-09-10

	First 5 rows of DataFrame: 2018 Weekly Data
----------------------------------------
   Rank  PlayerID              Name Team Position  Week Opponent  \
0     1      8283  Ryan Fitzpatrick   TB       QB     1       NO
1     2     18878      Alvin Kamara   NO       RB     1       TB
2     3      7242        Drew Brees   NO       QB     1       TB
3     4     18082       Tyreek Hill   KC       WR     1      LAC
4     5     18983      James Conner  PIT       RB     1      CLE

   PassingYards  PassingTouchdowns  PassingInterceptions  RushingYards  \
0           417                  4                     0            36
1             0                  0                     0            29
2           439                  3                     0             0
3             0                  0                     0             4
4             0                  0                     0           135

   RushingTouchdowns  Receptions  ReceivingYards  ReceivingTouchdowns  \
0                  1           0               0                    0
1                  2           9             112                    1
2                  0           0               0                    0
3                  0           7             169                    2
4                  2           5              57                    0

   FumblesLost  FantasyPointsPerGame  FantasyPoints        Date
0            0                  42.3          42.28  2018-09-09
1            0                  34.1          34.10  2018-09-09
2            0                  31.6          31.56  2018-09-09
3            0                  29.3          29.30  2018-09-09
4            1                  29.2          29.20  2018-09-09

In [6]:
p.print_props(df_list, '.dtypes')

	Data Types of DataFrame: 2015 Weekly Data
----------------------------------------
Rank                      int64
PlayerID                  int64
Name                     object
Team                     object
Position                 object
Week                      int64
Opponent                 object
PassingYards              int64
PassingTouchdowns         int64
PassingInterceptions      int64
RushingYards              int64
RushingTouchdowns         int64
Receptions                int64
ReceivingYards            int64
ReceivingTouchdowns       int64
FumblesLost               int64
FantasyPointsPerGame    float64
FantasyPoints           float64
Date                     object
dtype: object

	Data Types of DataFrame: 2016 Weekly Data
----------------------------------------
Rank                      int64
PlayerID                  int64
Name                     object
Team                     object
Position                 object
Week                      int64
Opponent                 object
PassingYards              int64
PassingTouchdowns         int64
PassingInterceptions      int64
RushingYards              int64
RushingTouchdowns         int64
Receptions                int64
ReceivingYards            int64
ReceivingTouchdowns       int64
FumblesLost               int64
FantasyPointsPerGame    float64
FantasyPoints           float64
Date                     object
dtype: object

	Data Types of DataFrame: 2017 Weekly Data
----------------------------------------
Rank                      int64
PlayerID                  int64
Name                     object
Team                     object
Position                 object
Week                      int64
Opponent                 object
PassingYards              int64
PassingTouchdowns         int64
PassingInterceptions      int64
RushingYards              int64
RushingTouchdowns         int64
Receptions                int64
ReceivingYards            int64
ReceivingTouchdowns       int64
FumblesLost               int64
FantasyPointsPerGame    float64
FantasyPoints           float64
Date                     object
dtype: object

	Data Types of DataFrame: 2018 Weekly Data
----------------------------------------
Rank                      int64
PlayerID                  int64
Name                     object
Team                     object
Position                 object
Week                      int64
Opponent                 object
PassingYards              int64
PassingTouchdowns         int64
PassingInterceptions      int64
RushingYards              int64
RushingTouchdowns         int64
Receptions                int64
ReceivingYards            int64
ReceivingTouchdowns       int64
FumblesLost               int64
FantasyPointsPerGame    float64
FantasyPoints           float64
Date                     object
dtype: object

In [7]:
p.print_props(df_list, '.columns')

	Column Features of DataFrame: 2015 Weekly Data
----------------------------------------
Index(['Rank', 'PlayerID', 'Name', 'Team', 'Position', 'Week', 'Opponent',
       'PassingYards', 'PassingTouchdowns', 'PassingInterceptions',
       'RushingYards', 'RushingTouchdowns', 'Receptions', 'ReceivingYards',
       'ReceivingTouchdowns', 'FumblesLost', 'FantasyPointsPerGame',
       'FantasyPoints', 'Date'],
      dtype='object')

	Column Features of DataFrame: 2016 Weekly Data
----------------------------------------
Index(['Rank', 'PlayerID', 'Name', 'Team', 'Position', 'Week', 'Opponent',
       'PassingYards', 'PassingTouchdowns', 'PassingInterceptions',
       'RushingYards', 'RushingTouchdowns', 'Receptions', 'ReceivingYards',
       'ReceivingTouchdowns', 'FumblesLost', 'FantasyPointsPerGame',
       'FantasyPoints', 'Date'],
      dtype='object')

	Column Features of DataFrame: 2017 Weekly Data
----------------------------------------
Index(['Rank', 'PlayerID', 'Name', 'Team', 'Position', 'Week', 'Opponent',
       'PassingYards', 'PassingTouchdowns', 'PassingInterceptions',
       'RushingYards', 'RushingTouchdowns', 'Receptions', 'ReceivingYards',
       'ReceivingTouchdowns', 'FumblesLost', 'FantasyPointsPerGame',
       'FantasyPoints', 'Date'],
      dtype='object')

	Column Features of DataFrame: 2018 Weekly Data
----------------------------------------
Index(['Rank', 'PlayerID', 'Name', 'Team', 'Position', 'Week', 'Opponent',
       'PassingYards', 'PassingTouchdowns', 'PassingInterceptions',
       'RushingYards', 'RushingTouchdowns', 'Receptions', 'ReceivingYards',
       'ReceivingTouchdowns', 'FumblesLost', 'FantasyPointsPerGame',
       'FantasyPoints', 'Date'],
      dtype='object')

In [8]:
# Combine all data per week into one dataframe.
df = pd.concat(df_list, ignore_index = True)
df.head()

,Rank,PlayerID,Name,Team,Position,Week,Opponent,PassingYards,PassingTouchdowns,PassingInterceptions,RushingYards,RushingTouchdowns,Receptions,ReceivingYards,ReceivingTouchdowns,FumblesLost,FantasyPointsPerGame,FantasyPoints,Date
0,1,16668,Carlos Hyde,SF,RB,1,MIN,0,0,0,168,2,2,14,0,0,30.2,30.20,2015-09-13
1,2,4314,Tom Brady,NE,QB,1,PIT,288,4,0,1,0,0,0,0,0,27.6,27.62,2015-09-13
2,3,10974,Rob Gronkowski,NE,TE,1,PIT,0,0,0,0,0,5,94,3,0,27.4,27.40,2015-09-13
3,4,13291,Julio Jones,ATL,WR,1,PHI,0,0,0,0,0,9,141,2,0,26.1,26.10,2015-09-13
4,5,2428,Carson Palmer,ARI,QB,1,NO,307,3,0,14,0,0,0,0,0,25.7,25.68,2015-09-13

In [9]:
df.shape

(20400, 19)

In [10]:
df.isnull().sum()

Rank                    0
PlayerID                0
Name                    0
Team                    0
Position                0
Week                    0
Opponent                0
PassingYards            0
PassingTouchdowns       0
PassingInterceptions    0
RushingYards            0
RushingTouchdowns       0
Receptions              0
ReceivingYards          0
ReceivingTouchdowns     0
FumblesLost             0
FantasyPointsPerGame    0
FantasyPoints           0
Date                    0
dtype: int64

In [11]:
df.dtypes

Rank                      int64
PlayerID                  int64
Name                     object
Team                     object
Position                 object
Week                      int64
Opponent                 object
PassingYards              int64
PassingTouchdowns         int64
PassingInterceptions      int64
RushingYards              int64
RushingTouchdowns         int64
Receptions                int64
ReceivingYards            int64
ReceivingTouchdowns       int64
FumblesLost               int64
FantasyPointsPerGame    float64
FantasyPoints           float64
Date                     object
dtype: object

In [12]:
df['Date'] = pd.to_datetime(df['Date'], format = '%Y-%m-%d')
df.dtypes

Rank                             int64
PlayerID                         int64
Name                            object
Team                            object
Position                        object
Week                             int64
Opponent                        object
PassingYards                     int64
PassingTouchdowns                int64
PassingInterceptions             int64
RushingYards                     int64
RushingTouchdowns                int64
Receptions                       int64
ReceivingYards                   int64
ReceivingTouchdowns              int64
FumblesLost                      int64
FantasyPointsPerGame           float64
FantasyPoints                  float64
Date                    datetime64[ns]
dtype: object

In [13]:
df.set_index('Date', inplace=True)
df.sort_index(inplace=True)
df.head()

,Rank,PlayerID,Name,Team,Position,Week,Opponent,PassingYards,PassingTouchdowns,PassingInterceptions,RushingYards,RushingTouchdowns,Receptions,ReceivingYards,ReceivingTouchdowns,FumblesLost,FantasyPointsPerGame,FantasyPoints
Date,,,,,,,,,,,,,,,,,,
2015-09-13,1,16668,Carlos Hyde,SF,RB,1,MIN,0,0,0,168,2,2,14,0,0,30.2,30.20
2015-09-13,2,4314,Tom Brady,NE,QB,1,PIT,288,4,0,1,0,0,0,0,0,27.6,27.62
2015-09-13,3,10974,Rob Gronkowski,NE,TE,1,PIT,0,0,0,0,0,5,94,3,0,27.4,27.40
2015-09-13,4,13291,Julio Jones,ATL,WR,1,PHI,0,0,0,0,0,9,141,2,0,26.1,26.10
2015-09-13,5,2428,Carson Palmer,ARI,QB,1,NO,307,3,0,14,0,0,0,0,0,25.7,25.68

In [14]:
df.index.value_counts()

2017-09-17    300
2016-12-25    300
2015-10-25    300
2017-10-01    300
2016-11-06    300
2015-12-13    300
2018-10-14    300
2017-11-19    300
2018-12-02    300
2015-10-11    300
2015-09-13    300
2016-09-25    300
2015-11-01    300
2017-10-08    300
2016-11-13    300
2015-12-20    300
2016-09-18    300
2017-12-31    300
2018-11-25    300
2016-12-18    300
2017-11-12    300
2018-10-07    300
2015-12-06    300
2016-10-30    300
2017-09-24    300
2015-10-18    300
2016-09-11    300
2017-12-24    300
2018-11-18    300
2016-12-11    300
             ...
2017-12-17    300
2018-11-11    300
2016-12-04    300
2017-10-29    300
2018-09-23    300
2015-11-22    300
2016-10-16    300
2017-09-10    300
2015-10-04    300
2018-12-23    300
2017-12-10    300
2018-11-04    300
2016-01-03    300
2017-10-22    300
2018-12-09    300
2018-09-16    300
2015-11-15    300
2016-10-09    300
2015-09-27    300
2018-12-16    300
2017-12-03    300
2018-10-28    300
2015-12-27    300
2016-11-20    300
2017-10-15    300
2018-09-09    300
2015-11-08    300
2016-10-02    300
2015-09-20    300
2016-10-23    300
Name: Date, Length: 68, dtype: int64

In [15]:
df.to_csv('../../clean_data/weekly_player_performance_2015_to_2018.csv')

In [16]:
df.groupby('Week')['FantasyPoints'].mean()

Week
1     6.532067
2     7.012350
3     7.101367
4     6.835600
5     6.198917
6     6.542317
7     6.107783
8     6.032600
9     5.939583
10    6.159767
11    5.873383
12    7.009325
13    6.548500
14    6.554883
15    6.631400
16    6.730967
17    6.467350
Name: FantasyPoints, dtype: float64

In [17]:
df.groupby(['Week', 'Name'])['FantasyPoints'].max()

Week  Name
1     AJ Derby              3.40
      AJ Green             24.00
      Aaron Dobson          0.90
      Aaron Rodgers        24.94
      Adam Humphries        4.10
      Adam Thielen         15.70
      Adrian Peterson      20.60
      Albert Wilson         3.80
      Aldrick Robinson      0.70
      Alex Armah            6.10
      Alex Collins          5.90
      Alex Smith           31.02
      Alfred Blue           9.60
      Alfred Morris        12.10
      Allen Hurns           7.50
      Allen Robinson        7.20
      Alshon Jeffery       10.50
      Alvin Kamara         34.10
      Amari Cooper         15.70
      Ameer Abdullah       18.00
      Andre Caldwell        0.10
      Andre Ellington      11.60
      Andre Holmes          6.10
      Andre Johnson         3.00
      Andre Roberts         3.60
      Andre Williams        1.40
      Andrew Hawkins        2.40
      Andrew Luck          35.50
      Andy Dalton          18.86
      Andy Janovich         8.80
                           ...
17    Trey Williams         1.20
      Troy Niklas           0.80
      Ty Montgomery         6.10
      Tyler Boyd           15.10
      Tyler Eifert         11.10
      Tyler Higbee          3.60
      Tyler Kroft          17.30
      Tyler Lockett        12.90
      Tyreek Hill          23.60
      Tyrell Williams      15.00
      Tyrod Taylor         18.38
      Vance McDonald        3.90
      Vernon Davis          4.90
      Victor Cruz           0.70
      Virgil Green          7.70
      Vyncint Smith         2.80
      Wayne Gallman         9.00
      Wendall Williams      4.10
      Wendell Smallwood     7.70
      Wes Welker            1.60
      Will Fuller           2.40
      Will Tukuafu          6.70
      Will Tye             12.70
      Willie Snead          8.20
      Xavier Grimble        1.60
      Zach Ertz            25.90
      Zach Line             6.80
      Zach Mettenberger     5.92
      Zach Zenner          18.30
      Zay Jones            21.30
Name: FantasyPoints, Length: 10595, dtype: float64

In [18]:
player_list = df['Name'].unique()

In [19]:
df.groupby(['Opponent', 'Week'])['FantasyPoints'].max()

Opponent  Week
ARI       1       27.08
          2       29.30
          3       23.60
          4       24.40
          5       27.26
          6       26.50
          7       21.40
          8       22.00
          9       17.36
          10      25.70
          11      22.00
          12      22.60
          13      16.84
          14      17.80
          15      30.60
          16      33.60
          17      21.18
ATL       1       25.54
          2       27.60
          3       40.54
          4       24.78
          5       30.50
          6       30.70
          7       30.10
          8       33.84
          9       27.00
          10      32.90
          11      30.92
          12      30.70
          13      18.58
                  ...
TEN       5       22.36
          6       21.74
          7       27.82
          8       29.68
          9       32.10
          10      27.54
          11      32.40
          12      29.40
          13      33.30
          14      24.82
          15      18.68
          16      39.60
          17      23.10
WAS       1       29.10
          2       23.60
          3       19.90
          4       27.32
          5       26.72
          6       25.60
          7       31.02
          8       25.40
          9       28.00
          10      24.06
          11      31.44
          12      30.00
          13      29.50
          14      25.70
          15      27.30
          16      21.30
          17      23.40
Name: FantasyPoints, Length: 544, dtype: float64

In [20]:
df.groupby(['Opponent', 'Week'])['FantasyPoints'].mean()

Opponent  Week
ARI       1       7.349744
          2       5.988718
          3       4.963784
          4       6.377714
          5       6.725217
          6       5.762326
          7       6.235263
          8       4.634286
          9       5.046000
          10      5.767727
          11      6.303333
          12      7.349744
          13      5.002500
          14      5.036316
          15      8.255897
          16      6.547692
          17      5.573000
ATL       1       6.137619
          2       7.734762
          3       8.592821
          4       7.638000
          5       5.743125
          6       6.816744
          7       6.554634
          8       6.429032
          9       5.605532
          10      6.110323
          11      6.222759
          12      6.394500
          13      6.648649
                    ...
TEN       5       3.051556
          6       6.980000
          7       5.509091
          8       6.689524
          9       6.086531
          10      6.293171
          11      6.969767
          12      7.140976
          13      7.017241
          14      5.692500
          15      5.507692
          16      8.286471
          17      6.227568
WAS       1       7.355758
          2       6.225714
          3       7.040588
          4       8.181600
          5       6.379429
          6       5.958095
          7       6.505909
          8       5.452121
          9       7.452571
          10      6.824762
          11      7.291111
          12      6.400526
          13      8.638750
          14      7.777500
          15      5.777368
          16      6.507179
          17      7.594444
Name: FantasyPoints, Length: 544, dtype: float64

In [21]:
df.groupby(['Name', 'Week'])['FantasyPoints'].max()

Name           Week
AJ Derby       1        3.4
               2        7.9
               3        1.6
               4       13.5
               6        1.0
               7        4.6
               8        8.1
               9        1.1
               10       2.2
               12       4.3
               13       0.3
               14       3.7
               15       3.5
               16       1.1
               17       0.9
AJ Green       1       24.0
               2       24.9
               3       34.7
               4       23.3
               5       22.9
               6        8.8
               7       22.9
               8       17.8
               9        5.3
               10      17.5
               11      11.0
               12      18.1
               13      19.7
               14      19.2
               15       3.7
                       ...
Zach Zenner    10       1.2
               11       0.0
               12       1.3
               13       4.0
               14      11.4
               15      10.5
               16      21.2
               17      18.3
Zay Jones      1        2.6
               2        6.3
               3        1.7
               4        3.8
               5        2.0
               6        9.5
               7        2.7
               8        5.5
               9       11.3
               10      15.3
               11       6.8
               12       9.3
               13      20.7
               14       2.2
               15       1.1
               16      12.7
               17      21.3
Zurlon Tipton  5        0.9
               9        0.0
               13       0.7
               14       5.7
               15       0.4
Name: FantasyPoints, Length: 10595, dtype: float64

In [22]:
df.groupby(['Team', 'Week'])['FantasyPoints'].mean()

Team  Week
ARI   1        6.550270
      2        6.777838
      3        6.722105
      4        5.897000
      5        6.690769
      6        6.369545
      7        5.248947
      8        7.486250
      9        5.070000
      10       6.546341
      11       6.341364
      12       5.506154
      13       7.967778
      14       5.336410
      15       7.006842
      16       7.104000
      17       5.694857
ATL   1        7.168333
      2        8.298049
      3       10.335676
      4        9.014634
      5        5.323333
      6        6.691739
      7        5.623636
      8        6.412778
      9        6.848980
      10       5.663030
      11       5.595294
      12       8.243333
      13       4.887179
                ...
TEN   5        4.211905
      6        5.261333
      7        5.256842
      8        5.266957
      9        7.110435
      10       6.387660
      11       5.037209
      12       7.092778
      13       7.863333
      14       5.618857
      15       5.973514
      16       5.187692
      17       4.728108
WAS   1        5.884211
      2        6.895135
      3        8.050811
      4        6.516774
      5        4.310588
      6        6.359500
      7        6.580000
      8        6.898667
      9        4.681818
      10       7.353500
      11       6.984186
      12       7.811579
      13       5.512571
      14       6.564865
      15       6.821143
      16       8.985143
      17       4.672500
Name: FantasyPoints, Length: 544, dtype: float64

In [23]:
df.groupby(['Team', 'Week'])['FantasyPoints'].max()

Team  Week
ARI   1       25.68
      2       29.20
      3       27.00
      4       16.38
      5       30.50
      6       31.80
      7       19.20
      8       29.56
      9       14.70
      10      30.30
      11      28.00
      12      22.10
      13      29.50
      14      20.70
      15      40.90
      16      29.60
      17      20.20
ATL   1       26.10
      2       30.68
      3       40.16
      4       36.00
      5       25.70
      6       27.60
      7       19.26
      8       24.42
      9       28.00
      10      20.50
      11      17.90
      12      38.80
      13      22.50
              ...
TEN   5       30.52
      6       27.76
      7       18.70
      8       19.90
      9       33.34
      10      27.80
      11      22.50
      12      22.92
      13      35.92
      14      47.80
      15      29.24
      16      15.20
      17      17.70
WAS   1       20.60
      2       24.60
      3       26.80
      4       21.70
      5       13.70
      6       27.80
      7       30.18
      8       25.60
      9       16.44
      10      28.96
      11      31.70
      12      30.16
      13      16.84
      14      24.30
      15      35.86
      16      32.20
      17      19.04
Name: FantasyPoints, Length: 544, dtype: float64

In [24]:
df.groupby(['Team', 'Week'])['FantasyPoints'].mean()

Team  Week
ARI   1        6.550270
      2        6.777838
      3        6.722105
      4        5.897000
      5        6.690769
      6        6.369545
      7        5.248947
      8        7.486250
      9        5.070000
      10       6.546341
      11       6.341364
      12       5.506154
      13       7.967778
      14       5.336410
      15       7.006842
      16       7.104000
      17       5.694857
ATL   1        7.168333
      2        8.298049
      3       10.335676
      4        9.014634
      5        5.323333
      6        6.691739
      7        5.623636
      8        6.412778
      9        6.848980
      10       5.663030
      11       5.595294
      12       8.243333
      13       4.887179
                ...
TEN   5        4.211905
      6        5.261333
      7        5.256842
      8        5.266957
      9        7.110435
      10       6.387660
      11       5.037209
      12       7.092778
      13       7.863333
      14       5.618857
      15       5.973514
      16       5.187692
      17       4.728108
WAS   1        5.884211
      2        6.895135
      3        8.050811
      4        6.516774
      5        4.310588
      6        6.359500
      7        6.580000
      8        6.898667
      9        4.681818
      10       7.353500
      11       6.984186
      12       7.811579
      13       5.512571
      14       6.564865
      15       6.821143
      16       8.985143
      17       4.672500
Name: FantasyPoints, Length: 544, dtype: float64

In [25]:
df.head()

,Rank,PlayerID,Name,Team,Position,Week,Opponent,PassingYards,PassingTouchdowns,PassingInterceptions,RushingYards,RushingTouchdowns,Receptions,ReceivingYards,ReceivingTouchdowns,FumblesLost,FantasyPointsPerGame,FantasyPoints
Date,,,,,,,,,,,,,,,,,,
2015-09-13,1,16668,Carlos Hyde,SF,RB,1,MIN,0,0,0,168,2,2,14,0,0,30.2,30.20
2015-09-13,2,4314,Tom Brady,NE,QB,1,PIT,288,4,0,1,0,0,0,0,0,27.6,27.62
2015-09-13,3,10974,Rob Gronkowski,NE,TE,1,PIT,0,0,0,0,0,5,94,3,0,27.4,27.40
2015-09-13,4,13291,Julio Jones,ATL,WR,1,PHI,0,0,0,0,0,9,141,2,0,26.1,26.10
2015-09-13,5,2428,Carson Palmer,ARI,QB,1,NO,307,3,0,14,0,0,0,0,0,25.7,25.68